.header {
    background-image: linear-gradient(to bottom right, #fcc521, #eeb50a);
    height: 15vh;
    padding: 2rem 2rem 0;
}

.paragraph {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #fff;
}
