.footer-container {
    text-align: center;
    background-color:#e0e0e0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 3rem 0;
}

.footer-paragraph {
    color: rgb(182, 182, 182);
    font-size: 1.5rem;
}

